.center-container {
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -200px;
}

.center-container > div {
    width: 340px;
    text-align: center;
    padding: 20px;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 1px #CCCCCC;
    border-radius: 5px;
    background-color: #EEEEEE;
}

.explorer-text{
    font-size: 32px;
    color: #DF0A1B;
    font-weight: bold;
}