.page-title{
    height: 50px;
    color: #000000;
    font-size: 25px;
}

.page-title > span {
    display: block;
    float: left;
}

.paper {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #444444;
    width: 800px;
    top:20%;
    left: 50%;
    margin-left: -400px;
    padding: 20px;
}

*:focus {
    outline: none !important;
}

.selection {
    list-style: none;
    margin: 0;
    padding: 0;
}

.selection li{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #999999;
    border-radius: 15px;
    margin: 3px;
    background-color: #eeeeee;
}

.selection li span{
    margin: 0 3px;
    float: right;
    right: -6px;
    position: relative;
    line-height: 1;
    color: #AAAAAA;
    cursor: pointer;
}

.selection li span:hover{
    color: #000000;
}