body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background: rgb(91, 101, 145);
  // background: radial-gradient(circle, rgba(51, 57, 88, 1) 24%, rgba(22, 27, 53, 1) 71%);
  background: rgba(248, 248, 248, var(--bg-opacity));
}

.rotate {
  transform: rotate(-90deg);
  position: relative;
}

.pie-chart {
  text-align: center;
}
.rotate-back {
  transform: rotate(90deg);
  display: block;
  /* width: auto; */
  margin-top: -47px;
  position: absolute;
  left: -17px;
  right: 0px;
  top: 0px;
  bottom: 10px;
  margin: auto;
  width: 40px;
  height: 40px;
  text {
    font-size: 25px;
    font-weight: bold;
  }
}

.chart-label {
  text-align: center;
}
html,
#root {
  width: 100%;
  height: 100%;
}

.content-pane {
  margin-right: 4rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.page-title {
  height: 50px;
  color: #000000;
  font-size: 25px;
}

.splash {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.spinner {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-marg {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}
.sidebar-toggable {
  position: relative;
}

.max-height {
  height: 100%;
}

.no-gap {
  gap: 0 !important;
}
