.widget {
    background: var(--vscode-sideBar-background);
    height: 350px;
    margin: 20px;
    border: 1px solid var(--vscode-sideBarSectionHeader-background);
    font-size: 14px;
    overflow: auto;
}

.title{
    background: var(--vscode-sideBarSectionHeader-background);
    color: var(--vscode-sideBarSectionHeader-foreground);
    padding: 8px 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.appInfo-wrapper{
    width: 50%;
    display: inline-block;
}

.appInfo{
    background: var(--vscode-sideBar-background);
    padding: 8px;
    margin-top: 10px;
    border: 1px solid var(--vscode-sideBarSectionHeader-background);
}

.appInfo > div > span {
    color: var(--vscode-statusBarItem-remoteBackground);
    font-family: monospace;
}

.app-title{
    background: var(--vscode-sideBarSectionHeader-background);
    color: var(--vscode-sideBarSectionHeader-foreground);
    padding: 4px 8px 4px 8px;
    margin: -9px -9px 2px -9px;
}

.no-data{
    height: 200px;
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center;
}

.widget .item {
    margin-top: 5px;
}