.widget {
    background: #EEEEEE;
    height: 350px;
    margin: 20px;
    border: 1px solid #DF0B1B;
    font-size: 14px;
    overflow: auto;
}

.title{
    background: #DF0B1B;
    color: #FFFFFF;
    padding: 8px 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.appInfo-wrapper{
    width: 50%;
    display: inline-block;
}

.appInfo{
    background: #FFFFFF;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #CCCCCC;
}

.appInfo > div > span {
    color: #DF0B1B;
    font-family: monospace;
}

.app-title{
    background: #555;
    color: #FFF;
    padding: 4px 8px 4px 8px;
    margin: -9px -9px 2px -9px;
}

.no-data{
    height: 200px;
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center;
}

.widget .item {
    margin-top: 5px;
}