.SideMenu ul{
    list-style: none;
    display: flex;
    justify-content: left;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.SideMenu ul li{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
}

.SideMenu ul li:hover{
    background-color: var(--vscode-sideBar-background);
    color: var(--vscode-editor-foreground);
}

.SideMenu{
    border-right: 1px solid var(--vscode-sideBarSectionHeader-background);
    height: 100%;
    width: 120px;
    position: fixed;
    margin-top: 60px;
}

.SideMenu li.active{
    background-color: #DF0A1B;
    color: #FFFFFF;
}

.SideMenu li.active:hover{
    background-color: #DF0A1B;
    color: #FFFFFF;
}